@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font-family: "Livvic", serif;
    width: 1440px;
    margin: 0 auto;
}

header > section::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background-color: #F67E7E;
}

a {
    text-decoration: none;
}

.position-logo {
    top: 77px; 
    right: 1115px;
    bottom: 400px;
    left: 165px;
}

.position-logo2 {
    top: 0px;
    right: 570px;
    bottom: 60px;
    left: 0px;
}

.position-home {
    top: 83px;
    right: 986px;
    bottom: 406px;
    left: 405px;
}

.position-home2 {
    top: 65px;
    right: 681px;
    bottom: 7px;
    left: 0px;
}

.position-about {
    top: 83px;
    right: 895px;
    bottom: 406px;
    left: 494px;
}

.position-about2 {
    top: 65px;
    right: 590px;
    bottom: 7px;
    left: 89px;
}

.position-button {
    top: 73px;
    right: 165px;
    bottom: 396px;
    left: 1122px;
}

.position-button2 {
    top: 76px;
    right: 260px;
    bottom: 76px;
    left: 1027px;
}

.position-h2 {
    top: 140px;
    right: 260px;
    bottom: 249px;
    left: 260px;
}

.position-h3 {
    top: 241px;
    right: 925px;
    bottom: 176px;
    left: 165px;
}

.position-h4 {
    top: 76px;
    right: 673px;
    bottom: 76px;
    left: 263px;
}

.position-donut {
    top:317px;
    right: 100px;
    bottom: 0px;
    left: 1340px;
}

.position-design-element {
    top: 56px;
    right: 1240px;
    bottom: 100px;
    left: 0px;
}

.position-design-element2 {
    top: 0px;
    right: 1240px;
    bottom:237px;
    left: 0px;
}

.position-section2 {
    top: 241px;
    right: 165px;
    bottom: 120px;
    right: 545px;
}

.position-div {
    top: 48px;
    right: 165px;
    bottom: 48px;
    left: 165px;
}

.position-div2 {
    top: 0px;
    right: 380px;
    left: 285px;
    bottom: 0px;
}

.position-icons {
    top: 0px;
    right: 0px;
    bottom: 76px;
    left: 1006px;
}

.position-text {
    top: 75px;
    right: 0px;
    bottom: 0px;
    left: 855px;
}


.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.justify-content-center {
    justify-content: center;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.align-items--flex-start {
    align-items: flex-start;
}




.font-style-normal {
    font-style: normal;
}


.font-size-15px {
    font-size: 15px;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-48px {
    font-size: 48px;
}

.font-size-64px {
    font-size: 64px;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}




.width-49px {
    width:49px;
}

.width-51px {
    width: 51px;
}

.width-88px {
    width: 88px;
}

.width-100px {
    width: 100px;
}

.width-104px {
    width: 104px;
}

.width-153px {
    width: 153px;
}

.width-160px {
    width: 160px;
}


.width-244px {
    width: 244px;
}

.width-255px {
    width: 255px;
}

.width-350px {
    width: 350px;
}

.width-445px {
    width: 445px;
}

.width-730px {
    width: 730px;
}

.width-1110px {
    width: 1110px;
}



.height-24px {
    height: 24px;
}

.height-25px {
    height: 25px;
}

.height-28px {
    height: 28px;
}

.height-40px {
    height: 40px;
}

.height-48px {
    height: 48px;
}

.height-100px {
    height: 100px;
}

.height-156px {
    height: 156px;
}

.height-196px {
    height: 196px;
}

.height-200px {
    height: 200px;
}

.height-437px {
    height: 437px;
}

.height-517px {
    height: 517px;
}

.height-1002px {
    height: 1002px;
}



.line-height-25px {
    line-height: 25px;
}

.line-height-28px {
    line-height: 28px;
}

.line-height-48px {
    line-height: 48px;
}

.line-height-100px {
    line-height: 100px;
}



.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.background-color-004047 {
    background-color: #004047;
}

.background-color-014E56 {
    background-color: #014E56;
}

.background-color-F67E7E {
    background-color: #F67E7E;
}

.background-color-002529 {
    background-color: #002529;
}

.background-color-012F34 {
    background-color: #012F34;
}

.color-FFF {
    color: #FFF;
}

.color-012F34 {
    color: #012F34;
}



.gap-40px {
    gap: 40px;
}



.button-border {
    border: 2px solid #FFF;
}

.button-border2 {
    border: 2px solid #012F34;
}

.border {
    border: 1px solid black;
}

.border-radius-24px {
    border-radius: 24px;
}


.opacity--06 {
    opacity: 0.6;
}

.overflow-hidden {
    overflow: hidden;
}

.


/* our clients main stiles */

.ourClients {
    position: relative;
    background-color: hsl(186, 96%, 10%);
    color: white;
    font-family: "Livvic", serif;
}

/* logo size and position */
.ourClients .flex-container {
    padding: 140px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
/* our clients size and position */
.ourClients .logo {
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 200px;
    background-size: cover;
    overflow: hidden;
}

.ourClients .logo img {
    width: 100%;
}

/* clients main title */
.ourClients .flex-container h2 {
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;

    margin-bottom: 74px;
}

/* clients img position and size */
.ourClients .flex-container ul {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 1110px;
    height: 45px;
}

.ourClients .flex-container li {
    flex: 1;
}

.ourClients .flex-container li img {
    width: 80%;
    max-height: 45px;
}