/*  !!!!!!!!!!  header reikes pakeisti dydi!!!!!!!!!!!!! 

1 blokas: Desktop meniu, pozicionavimas sugrupoti visi elementai, (index.html, about.html, contact.html).
2 blokas: Desktop meniu,  stiliai ir funkcinolumas visu elementu, (index.html, about.html, contact.html).
3 blokas: Media mob,  pozicionavimas visi elementai, (index.html, about.html, contact.html).  
4 blokas: Media tablet,  pozicionavimas visi elementai, (index.html, about.html, contact.html). 


*/
header {
  display: flex;
  background-color: #014e56;
  justify-content: space-between;
  width: 100%;
}

/* **************************   1.  Desktop meniu pozicionavimas********************************** */

/* nav logo ir pozicionavimas */
.nav_logo {
  flex-shrink: 0;
  margin-left: 165px; /*atstumas is kaires 165px */
  margin-top: 80px; /*atstumas nuo virsaus  80px */
}

/* logo srifto dydis */
.nav_logo img {
}

/*  home , about ir contact us  pozicionavimas */
.desktop-menu {
  display: flex;
  margin-right: 40px;
  margin-top: 80px; /*atstumas nuo virsaus  80px */
}

/* meniu  naikinam ul dekoracija  */
.desktop-menu ul {
  list-style: none;
  display: flex;
}

/* tarpas tarp logo ir home  80px  */
.desktop-menu ul li:first-child {
  margin-left: 80px; /* tarpas tarp logo ir pirmo elemento ul li  */
}

/* tarpas tarp  Home  ir About  visems li elementams iskirus paskutini  */
.desktop-menu ul li:not(:last-child) {
  margin-right: 40px;
}

/* mygtukas header meniu pozicionavimas */
.contact-btn-meniu {
  margin-top: 76px; /*atstumas nuo virsaus  76px */
  margin-left: auto;
  margin-right: 166px; /* atsrumas is desines */
}

/* *********************************************  2.  Desktop meniu  stiliai ir funkcinolumas    ************************************************************************* */

/* meniu stiliai  spalvos pakeitimas uzvedant kursoriu ant  home , about , contact us   */
.desktop-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.desktop-menu ul li a:hover {
  color: #f67e7e;
}

/* mygtuko  stilius "contact us"  header  */
.contact-us {
  text-decoration: none;
  margin: 2px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 24px;
  color: #fff;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 153px;
  height: 48px;
  flex-shrink: 0;
}

/* mygtuko  "contact us"  header  spalvos keitimas */
.contact-us:hover {
  background-color: #fff;
  color: #033c3d;
}

/* mygtuko stilius  "contact us"  mob meniu   */
.contact-btn {
  text-decoration: none;
  margin: 2px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 24px;
  color: #fff;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 153px;
  height: 48px;
  flex-shrink: 0;
}

/* mygtuko  "contact us"  mob meniu  spalvos keitimas */
.contact-btn:hover {
  background-color: #fff;
  color: #033c3d;
}

/* mob meniu BURGER ikona  */
.menu-icon {
  display: none;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  margin-top: 70px;
  margin-left: 331px;
}

/* mobilus meniu  */

.mobile-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #06484e;
  transition: right 0.3s ease-in-out;
  padding-top: 60px;
  z-index: 1000;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu ul li {
  margin: 20px 0;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.mobile-menu ul li a:hover {
  color: #f67e7e;
}

/* X mygtukas */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}
/* **********************************************************  3. Media mob,  pozicionavimas visi elementai ************************** */
/* mobilus irenginis (320px - 767px) */
@media (max-width: 767px) {
  .nav_logo {
    margin-left: 48px;
    margin-top: 24px;
    width: 128px;
    height: 32px;
  }
  .contact-btn-meniu {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-top: 24px;
    margin-left: auto;
  }
}

/* ********************************************************  4. Media tablet,  pozicionavimas visi elementa ******************************  */

@media (min-width: 768px) and (max-width: 1023px) {
  .nav_logo {
    margin-left: 39px;
    margin-top: 72px;
    width: 128px;
    height: 32px;
  }

  .contact-btn-meniu {
    margin-top: 64px; /*atstumas nuo virsaus  64px */
    margin-left: auto;
    margin-right: 40px; /* atsrumas is desines */
    width: 153px;
    height: 48px;
  }
  .desktop-menu {
    display:block;
    margin-top: 74px;

  }
}
