@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

div {
    font-family: 'Livvic', sans-serif;
}

.home-article-1 {
    margin: 0 auto;
    background-color: #012F34; /*Sacramento State Green*/
    width: 100%;
    min-height: 42.75rem;
    font-size: 6.25rem;
    line-height: 6.25rem;
    overflow: hidden;  
    position: relative;   /* reikalingas background icon'ui */
}

.ar1-left-container { /*kaires puses conteiner*/
    float: left;
    /* border: 1px solid red; */
    padding-left: 10.3125rem;
    padding-top: 12.375rem;
    margin: 0;
}

.ar1-left-h2 {
    height: 144px;
    width: 445px;
    color: white; 
    font-size: 48px; 
    line-height: 48px; 
    position: relative; 
    /* border: 1px solid blue; */
}

.ar1-left-h2::before { /* juostele prie h2 teksto*/
    content: '';
    position: absolute;
    top: -53px; /* atstumas i virsu nuo "build" zodzio*/
    left: 0;
    width: 50px;
    height: 4px; 
    background-color: #F67E7E; /* Same color as previous border */
}

.ar1-right-container {
    float: right;
    width: 50%;
    height: 100%;
    padding-top: 12.375rem; 
}

.ar1-right-div {
    color: white; 
    font-size: 1.25rem;   /* 20px */
    width: 80%;
    display: flex;  
    align-items: flex-start;
    gap: 1.4375rem;      /* tarpelis tarp icon ir text*/
    /* border: 1px solid green; */
    position: static;
}

.ar1-icon {
    width: 4.5rem;  /* 72px */
    height: 4.5rem;    
    /* border: 1px solid yellow; */
    
}

.ar1-background-decoration {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ar1-span {
    width: 445px; 
    color: #F67E7E; /*Light Coral*/
    font-size: 18px; 
    line-height: 28px; 
    display: block; /* atskyrimas nuo likusio teksto*/
    margin-bottom: 16px;

}

.ar1-parahraph-style {
    margin-bottom: 32px;
    font-style: normal;
    width: 445px; 
    opacity: 0.80; 
    font-size: 15px; 
    font-weight: 600; 
    line-height: 25px; 
    word-wrap: break-word;
    /* border: 1px solid red; */
 }

/* Add media query for smaller screens */
@media screen and (max-width: 1240px) {


    .ar1-left-container,
    .ar1-right-container {
        float: none;
        width: 100%;
        /* border: 1px solid red; */

    }

    .ar1-left-container {
      
        padding-top: 8.5rem;
        padding-left: 6.13rem;
        margin: 0;
    }

    .ar1-right-container{
        padding-top: 4rem;
    }

    

    .ar1-right-div {
        width: 100%;
        max-width: 445px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    
    .ar1-left-h2 {
        height: 144px;
        width: 27.81rem;
        color: white; 
        font-size: 2rem; 
        line-height: 2rem; 
        position: relative; 
        /* border: 1px solid blue; */
    }

}