@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    color: #FFF;
    font-family: "Livvic", serif;
    width: 1440px;
}

main > header > section::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background-color: #F67E7E;
}

a {
    text-decoration: none;
}


.pstn--abs {
    position: absolute;
}

.pstn--logo {
    margin: 77px 1115px 400px 165px;
}

.pstn--home {
    margin: 83px 986px 406px 405px;
}

.pstn--home2 {
    margin: 65px 681px 7px 0;
}

.pstn--about {
    margin: 83px 895px 406px 494px;
}

.pstn--about2 {
    margin: 65px 590px 7px 89px;
}

.pstn--btn {
    margin: 73px 165px 396px 1122px;
}

.pstn--btn2 {
    margin: 76px 260px 76px 1027px;
}

.pstn--section {
    margin: 241px 165px 120px 545px;
}

.pstn--About {
    margin: 241px 925px 176px 165px;
}

.pstn--donut {
    margin: 317px 100px 0 1340px;
}

.pstn--rdy-to-get-strtd {
    margin: 76px 673px 76px 263px;
}

.pstn--design-elmnt {
    margin: 56px 1240px 100px 0;
}

.pstn--section-footer {
    margin: 48px 165px 48px 165px;
}

.pstn--p-footer {
    margin: 75px 0 0 855px;
}

.pstn--icons {
    margin: 0 0 76px 1006px;
}

.pstn--div {
    margin: 0 380px 0 285px;
}

.pstn--logo2 {
    margin: 0 570px 60px 0;
}




.font-style--normal {
    font-style: normal;
}

.font-size--15px {
    font-size: 15px;
}

.font-size--18px {
    font-size: 18px;
}

.font-size--48px {
    font-size: 48px;
}

.font-size--64px {
    font-size: 64px;
}

.font-weight--600 {
    font-weight: 600;
}

.font-weight--700 {
    font-weight: 700;
}




.width--49px {
    width:49px;
}

.width--51px {
    width: 51px;
}

.width--88px {
    width: 88px;
}

.width--100px {
    width: 100px;
}

.width--104px {
    width: 104px;
}

.width--153px {
    width: 153px;
}

.width--160px {
    width: 160px;
}

.width--244px {
    width: 244px;
}

.width--255px {
    width: 255px;
}

.width--350px {
    width: 350px;
}

.width--445px {
    width: 445px;
}

.width--730px {
    width: 730px;
}

.width--1110px {
    width: 1110px;
}



.height--24px {
    height: 24px;
}

.height--25px {
    height: 25px;
}

.height--28px {
    height: 28px;
}

.height--40px {
    height: 40px;
}

.height--48px {
    height: 48px;
}

.height--70px {
    height: 70px;
}

.height--100px {
    height: 100px;
}

.height--112px {
    height: 112px;
}

.height--156px {
    height: 156px;
}

.height--196px {
    height: 196px;
}

.height--200px {
    height: 200px;
}

.height--517px {
    height: 517px;
}


.line-height--25px {
    line-height: 25px;
}

.line-height--28px {
    line-height: 28px;
}

.line-height--48px {
    line-height: 48px;
}

.line-height--100px {
    line-height: 100px;
}




.jstf-cntnt--center {
    justify-content: center;
}

.jstf-cntnt--space-between {
    justify-content: space-between;
}

.display--flex {
    display: flex;
}

.flex-drctn--clmn {
    flex-direction: column;
}

.align-items--flex-start {
    align-items: flex-start;
}

.align-items--center {
    align-items: center;
}

.text-align--left {
    text-align: left;
}

.text-align--right {
    text-align: right;
}

.flex-shrink--0 {
    flex-shrink: 0;
}



.bckgrnd-color--inherit {
    background-color: inherit;
}

.bckgrnd-clr--014E56 {
    background-color: #014E56;
}

.bckgrnd-color--F67E7E {
    background-color: #F67E7E;
}

.bckgrnd-color--002529 {
    background-color: #002529;
}

.color--FFF {
    color: #FFF;
}

.color--012F34 {
    color: #012F34;
}





.gap--20px {
    gap: 20px;
}

.gap--40px {
    gap: 40px;
}



.btn-border {
    border: 2px solid #FFF;
}

.btn-border2 {
    border: 2px solid #012F34;
}

.border {
    border: 1px solid black;
}

.border-radius--24px {
    border-radius: 24px;
}


.opacity--06 {
    opacity: 0.6;
}

.overflow--hidden {
    overflow: hidden;
}




/* our clients main stiles */
section.ourClients {
    position: relative;
    background-color: hsl(186, 96%, 10%);
    color: white;
    font-family: "Livvic", serif;
}

/* logo size and position */
.ourClients .flex-container {
    padding: 140px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
/* our clients size and position */
.ourClients .logo {
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 200px;
    background-size: cover;
    overflow: hidden;
}

.ourClients .logo img {
    width: 100%;
}

/* clients main title */
.ourClients .flex-container h2 {
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;

    margin-bottom: 74px;
}

/* clients img position and size */
.ourClients .flex-container ul {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 1110px;
    height: 45px;
}

.ourClients .flex-container li {
    flex: 1;
}

.ourClients .flex-container li img {
    width: 80%;
    max-height: 45px;
}